.services_img{
  width: 100%;
}

.services{

  .side_panel{
    min-width: 20%;
    background-color: $color-secondary;
    height: 100%;
  }
  & li:first-child{
    padding-top: 40px;
  }
  & p{
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 10px;
    padding: 5px;
    @extend %transition_base;

    &:hover{
      @extend %transition_hover;
    }
  }
}
.services_do{
  margin: 40px 0;
}
.service_card{
  margin-bottom: 20px;
  & h3 {
    font-size: 16px;
    font-weight: 800;
    margin-top: 15px;
  }
}
